* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

   /*para eliminar viñetas*/
ul, ol{
    list-style: none;
    color: #0e0d0d;
}


.bg-body-tertiary{
    background-color:rgb(12, 209, 143) !important
}

.bg-nosotros{
    background-color: rgb(32, 207, 207);
}

.tarjeta-staff{
    width: 15rem;
    background-color: rgb(204, 243, 250);
    border-radius: 10%;
}


/** portada**/

.portada-index{
    height: 70vh;
    background-image: url(../img/portada-index-prov.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.portada-texto-index{
   background-color: rgba(224, 210, 210, 0.479);
   font-family: "roboto Condensed";
    width: 500px;
    height: 150px;
    border-radius: 15px;

    text-align: center;

    display: flex;
    justify-content:center;
    align-items: center;
}

.palabra-destacada{
    font-size: 4rem;
}



.frase-index{
    font-family:"roboto Condensed";
    height: 15vh;
    background-color: rgba(211, 55, 128, 0.603);
    margin: 20px;
    border: 10px;
    
    text-align: center;

    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 100rem;
    color: aliceblue;
}



@media (min-width:768px) {
    .frase-index{
        background-image: url(../img/portada-index-prov.jpg);
    }

}


/**============nuestros productos=========**/

.produto-tortas{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;

}

.produto-tortas img{
    width: 95%;
    height: 300px;
}

@media (min-width:768px){
    .produto-tortas{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat();

        padding: 15px;
    }

}

@media (min-width:1024px){
    .produto-tortas{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat();

        padding: 15px;
    }
}


/**galeria trabajos*/

#galeria .col-lg-4{
    margin: 0 !important;
    padding: 25px;
}

#galeria img{
    width:100%;
    height: 350px;
    border: 5px solid #ccc;
    float: left;
    margin: 15px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
#galeria img:hover {
    border: 5px solid #fff;
    margin-top: 2px;
}

/*========servicios=======*/
.texto-servicio{
    background-color: brown;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.servicios{
    background-color: brown;
    margin-bottom: 20px ;
    display: flex;
    justify-content:space-around;
    align-items:center;
    text-align: center;
}

.tarjetas-servicios {
    width: 250px;
    height: 250px;
}

.tarjetas-servicios img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/**PRODUCTOS INDEX**/

.productos-index{
    margin: 40px;
    display: flex;
    justify-content:space-around;
    align-items:center;
    text-align: center;
}

.tarjeta-producto-index {
    width: 250px;
    height: 250px;
}

.tarjeta-producto-index img{
    width: 100%;
    height: 100%;
}

/* ----seccion chef */

.seccion-chef{
    background-color: brown;
    margin: 20px ;
    display: flex;
    justify-content:baseline;
    align-items:center;
    text-align: center;
  }
  .seccion-chef img{
    width: 100%;
    height: 800px;
  }

.biografia-chef{
    font-family: 'Inter';
    font-size: 1.5rem;

}
.titulos-medianos{
    font-family:"roboto Condensed" ;
    font-size: 2rem;
}

/* frase instragram */

.frase-instagram{
        background-color: rgba(18, 48, 180, 0.774);
        width: 60%;
        height: 50px;
        margin-left: 25%;
        border: 10px;
        border-radius: 15px;
        
        text-align: center;
    
        display: flex;
        justify-content:center;
        align-items: center;
        font-size: 2rem;
    }

    /* tarjetas */

.tarjetas-index{
   
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content:space-around;
    align-items:center;
    text-align: center;
    
}

.tarjetas-metodos {
    background-color: aquamarine;
    width: 25%;
    height: 10px;
    margin: 20px;
    padding: 45px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    }

    /* mas vendidos */
.mas-vendidos{
    background-color: brown;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    }

.mas-vendidos-index{
    margin: 40px;
    display: flex;
    justify-content:space-around;
    align-items:center;
    text-align: center;
    }
    
.producto-ind{
        width: 250px;
        height: 250px;
    }
.producto-ind img{
        width: 100%;
        height: 100%;
    }


    /**formulario*/

    .formulario{
        background: #18bedb;
        -webkit-background-size: cover;
        background-size: cover;
        background-attachment: fixed;
    }
    .contenedor .form .form-header .form-title{
        font-weight: normal;
        font-family: 'Roboto Condensed', sans-serif;
        color: #ccc;
    }
    
    .contenedor .form .form-header .form-title span{
    color: #fff;
    
    }
    
    .contenedor .form {
        background: rgba(0,0,0,0. .6);
        width: 90%;
        max-width: 650px;
        margin: auto;
        padding: 5px 35px;
        margin-top: 30px;
        padding-bottom: 30px;
        border-radius: 3px;
    }
    
    .contenedor .form .form-label{
        display: block;
        color: #ff8516;
        font-size: 16px;
        font-family: 'Roboto Condensed', sans-serif;
    
    }
    
    .contenedor .form .form-input .form-textarea{
        background: rgba(0,0,0,0. .7);
        border: none;
        outline: none;
        border-bottom: 2px solid #ff851b;
        width: 100px;
        padding: 12px;
        margin-bottom: 20px;
        border-radius: 2px;
        font-size: 14px;
        color: #fff;
        font-family: roboto;
    }    