* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}
.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu .navbar ul li {
  position: relative;
  float: left;
}
.menu .navbar ul li a {
  font-size: 15px;
  padding: 10px;
  color: #fffdfc;
  display: block;
  font-weight: 600;
  text-transform: uppercase;
}
.menu .navbar ul li a:hover {
  color: #e2df21;
}
.menu-icono {
  width: 40px;
}
.menu label {
  cursor: pointer;
  display: none;
}

.logo {
  color: #fffdfc;
  font-size: 25px;
  font-weight: 800;
}

#menu {
  display: none;
}

.boton-1 {
  display: inline-block;
  padding: 11px 35px;
  background-color: #e2df21;
  color: rgb(249, 250, 252);
  text-transform: uppercase;
}
.boton-1:hover {
  background-color: #c79018;
}

.footer {
  background-color: #414247;
  padding: 80px 0;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
}
.footer-links {
  width: 25%;
  padding: 0 15px;
}
.footer-links h4 {
  font-size: 20px;
  color: #c4bd84;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #414247;
  padding-bottom: 10px;
  display: inline-block;
}
.footer-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #c5c5c5;
  display: block;
  margin-bottom: 5px;
  transition: all 0.3s ease;
}
.footer-links ul li a:hover {
  color: #c4bd84;
  padding-left: 6px;
}

.redes-link a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: #e1e2e6;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #c79018;
  transition: all 0.5s ease;
}
.redes-link a:hover {
  background-color: #c79018;
}

@media (max-width: 991px) {
  .footer-row {
    text-align: center;
  }
  .footer-row-links {
    width: 100%;
    margin-bottom: 15px;
  }
}
.header {
  background-image: url(../img/postre2.jpg);
  opacity: 0.9;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.header-contenido {
  text-align: center;
}
.header-contenido h1 {
  font-size: 75px;
  line-height: 80px;
  color: #fffdfc;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.header-contenido p {
  font-size: 16px;
  color: #c5c5c5;
  padding: 0 250px;
  margin-bottom: 25px;
}

.servicios {
  background-color: #c4bd84;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}
.servicios-contenido {
  text-align: center;
}
.servicios-contenido h2 {
  font-size: 55px;
  line-height: 70px;
  color: #414247;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.servicios-contenido p {
  font-size: 1.2rem;
  color: #323337;
  margin-bottom: 50px;
  padding: 0 100px;
}
.servicios-grupo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.servicios-1 {
  padding: 0 100px;
}
.servicios-1 img {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
  border-radius: 15px 50px 30px;
  box-shadow: 0px 2px 4px rgb(0, 0, 0);
}
.servicios-1 h3 {
  color: #323337;
  font-size: 18px;
  text-transform: uppercase;
}

.mocka {
  padding: 100px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/header.jfif);
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}
.mocka-contenido {
  text-align: center;
}
.mocka-contenido h2 {
  font-size: 55px;
  line-height: 70px;
  color: #c4bd84;
  text-transform: uppercase;
  padding: 0 250px;
  margin-bottom: 15px;
}
.mocka-grupo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.mocka-1 {
  padding: 0 25px;
}
.mocka-1 img {
  width: 200px;
}
.mocka-1 h3 {
  color: #f9fafc;
  font-size: 20px;
  text-transform: uppercase;
}
.mocka-1 p {
  color: #414247;
}

.texto-p {
  font-size: 16px;
  color: #c5c5c5;
  padding: 0 250px;
  margin-bottom: 35px;
}

.general {
  display: flex;
}
.general-1 {
  width: 50%;
  padding: 100px 100px 100px 100px;
  background-color: #e1e2e6;
  text-align: center;
}
.general-2 {
  background-image: url(../img/indexsueno11.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}
.general-3 {
  background-image: url(../img/mesapostre.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

h2 {
  font-size: 55px;
  line-height: 70px;
  color: #414247;
  text-transform: uppercase;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  color: #414247;
  margin: 25px 0 45px 0;
}

.exper {
  padding: 100px 0;
  text-align: center;
}
.exper-contenido {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.exper-1 {
  padding: 25px 55px;
}
.exper-1 img {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.9);
}
.exper-1 h3 {
  font-size: 25px;
  color: #323337;
}

@media (max-width: 991px) {
  .menu {
    padding: 30px;
  }
  .menu label {
    display: initial;
  }
  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #323337;
    display: none;
  }
  .menu .navbar ul li {
    width: 100%;
  }
  #menu:checked ~ .navbar { /*para que despliegue la hamburguesa*/
    display: initial;
  }
  .header {
    min-height: 0vh;
  }
  .header-contenido {
    padding: 100px 30px;
  }
  .header-contenido p {
    padding: 40px;
  }
  .mocka {
    padding: 30px;
  }
  .mocka-contenido h2 {
    padding: 0;
  }
  .mocka-grupo {
    flex-direction: column;
    margin-bottom: 0;
  }
  .texto-p {
    padding: 0;
  }
  .servicios {
    padding: 30px;
  }
  .servicios-contenido p {
    padding: 0;
  }
  .servicios-grupo {
    flex-direction: column;
    margin-bottom: 0;
  }
  .servicios-1 {
    margin-bottom: 25px;
  }
  .general {
    flex-direction: column;
  }
  .general-1 {
    width: 100%;
    padding: 30px;
    text-align: center;
  }
  .general-2 {
    display: none;
  }
  .general-3 {
    display: none;
  }
  .exper {
    padding: 30px;
  }
  .exper-contenido {
    flex-direction: column;
  }
  .exper-1 {
    padding: 0;
  }
  .exper-1 h3 {
    text-transform: uppercase;
  }
}
.header-nosotros {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/group-people-working-out-business-plan-office\ \(1\).jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.header-contenido-nosotros {
  text-align: center;
}
.header-contenido-nosotros h1 {
  font-size: 55px;
  line-height: 60px;
  color: #c4bd84;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.header-contenido-nosotros p {
  font-size: 25px;
  color: #c5c5c5;
  padding: 0 250px;
  margin-bottom: 25px;
}

.nosotros {
  display: flex;
}
.nosotros-1 {
  width: 50%;
  padding: 100px 100px 100px 100px;
  background-color: #e1e2e6;
  text-align: center;
}
.nosotros-2 {
  background-image: url(../img/chef-kitchen-restaurant-adding-sauce-salad.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}
.nosotros-3 {
  background-image: url(../img/mid-shot-pizza-chef-posing.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}
.nosotros-contenido {
  text-align: center;
  background-color: #c5ba66;
}
.nosotros-contenido h2 {
  font-size: 45px;
  line-height: 80px;
  color: #323337;
  text-transform: uppercase;
  margin-bottom: 35px;
  margin-top: 35px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.9);
}
.nosotros-contenido p {
  font-size: 16px;
  color: #414247;
  padding: 30px;
  margin-bottom: 25px;
}

.mensaje-nosotros {
  text-align: center;
  background-color: #c5ba66;
}
.mensaje-nosotros h4 {
  font-size: 25px;
  line-height: 80px;
  color: #323337;
  text-transform: uppercase;
  margin-bottom: 35px;
  margin-top: 35px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.9);
}

@media (max-width: 991px) {
  .nosotros {
    flex-direction: column;
  }
  .nosotros-1 {
    width: 100%;
    padding: 30px;
    text-align: center;
  }
  .nosotros-2 {
    display: none;
  }
  .nosotros-3 {
    display: none;
  }
}
.header-productos {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/top-view-table-full-sweet-delicious-desserts-cupcakes-donuts-panna-cotta-desserts-candy-pops-tiramisu\ \(1\).jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.card-section {
  padding: 20px;
  background-color: #fffdfc;
  text-align: center;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 20px;
  background-color: #c4bd84;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.9);
}
.card-img {
  width: 100%;
  height: 250px;
  padding: 10px;
  object-fit: cover;
}
.card-content {
  padding: 20px;
}
.card-content h3 {
  font-size: 20px;
  color: #323337;
  margin-bottom: 10px;
}
.card-content p {
  font-size: 16px;
  color: #414247;
  margin-bottom: 20px;
}

.header-trabajos {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/delicious-sweets-candy-catering\ \(1\).jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px;
}

.imagen-trabajos {
  width: 300px;
  height: 250px;
  margin: 20px;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.9);
  overflow: hidden;
  transition: transform 0.3s;
}
.imagen-trabajos img {
  width: 300px;
  height: 300px;
  padding: 10px;
  object-fit: cover;
}
.imagen-trabajos img:hover {
  transform: scale(1.1);
}

@media (max-width: 480px) {
  .imagen-trabajos {
    width: 100%;
    height: 200px;
    margin: 10px;
    overflow: hidden;
    transition: transform 0.3s;
  }
}
.header-consultas {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/postre5.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.contenedor {
  max-width: 800px;
  margin: auto;
  padding: 50px;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/postre\ \(1\).jpg);
  border-radius: 15px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.9);
}
.contenedor h2 {
  text-align: center;
  color: #c5ba66;
}
.contenedor-consulta form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}
.form-group label {
  font-weight: bold;
}
.form-group input, .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-group button {
  padding: 10px 20px;
  background-color: #c5ba66;
  color: #fffdfc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form-group button:hover {
  background-color: #45a049;
}

/*# sourceMappingURL=style.css.map */
