.footer {
    background-color: $colorgris;
    padding: 80px 0;
  
    &-row {
      display: flex;
      flex-wrap: wrap;
     }
  
     &-links {
      width: 25%;
      padding: 0 15px;
  
      h4 {font-size: 20px;
        color: #c4bd84;
        margin-bottom: 25px;
        font-weight: 500;
        border-bottom: 2px solid $colorgris;
        padding-bottom: 10px;
        display: inline-block;
      }
  
      ul li a {
        font-size: 18px;
        text-decoration: none;
        color: $colorsecundario;
        display: block;
        margin-bottom: 5px;
        transition: all .3s ease;
  
        &:hover{
          color: $colorcrema;
          padding-left: 6px;
        }
      }
  
      
     }
  
  
  }
  
  .redes-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: $colorblanco2;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: $colornaranja;
    transition: all .5s ease;
  
       &:hover {
         background-color: $colornaranja;
      }
  
    }
  
  
  
  @media (max-width:991px){
  
    .footer-row {
      text-align: center;
  
      &-links {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
    
  
  